<!doctype html>
<html lang="en">

<head>
  <title>C++ Insights - 404</title>
  <meta name="description" content="C++ Insights - See your source code with the eyes of a compiler." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

  <link rel="stylesheet" href="/css/s.css" type="text/css">
</head>

<body>
  <main id="single">
    <nav id="nav">
      <controls>
        <img class="logo" src="/img/logo.svg" />
        <a class="btn btn-primary btn-lg" href="/">Home</a>
        <a class="btn btn-primary btn-lg" href="/about.html">About</a>
        <a class="btn btn-primary btn-lg" href="/privacy-policy.html" title="Policies">
          Policies
        </a>
        <a class="btn btn-primary btn-lg" href="/examples.html">Examples</a>
        <a class="btn btn-primary btn-lg" href="/settings.html">Settings</a>
      </controls>

      <news>
      </news>

      <about>
        <div id="header">
          Made by <a target="_blank" href="https://andreasfertig.com">Andreas Fertig</a><br />Powered by <a target="_blank"
              href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
        </div>
      </about>

    </nav>

    <content>
      <h1>404 - Page Not Found</h1>

      Sorry, the content your are looking for is not there.

      <div id="footer">
        Made by <a target="_blank" href="https://andreasfertig.com">Andreas Fertig</a> &bull; Powered by <a target="_blank"
            href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
      </div>
    </content>

  </main>

</body>

</html>
