<!doctype html>

<html lang="en">

<head>
  <title>C++ Insights</title>
  <meta name="description" content="C++ Insights - See your source code with the eyes of a compiler." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

  <link rel="stylesheet" href="css/gh.css" type="text/css">
  <link rel="stylesheet" href="css/s.css" type="text/css">
</head>

<body>
  <div class="mainbody">
    <div id="container">
      <div id="main">
        <div id="options header">
          <img class="logo" src="32.png" />
          <a href="/"><label class="btn btn-primary btn-lg" style="margin-bottom: 0;">Home</label></a>
          <a href="about.html"><label class="btn btn-primary btn-lg" style="margin-bottom: 0;">About</label></a>
          <div id="header">
            Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a><br />Powered by <a target="_blank"
                href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
          </div>
        </div>
      </div>


      <h1>Error invalid request</h1>

      <div id="footer">
        Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a> &bull; Powered by <a target="_blank"
            href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
      </div>
    </div>
  </div>

  <script src="js/main.js"></script>

</body>

</html>