<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>C++ Insights</title>
    <meta name="description" content="C++ Insights - See your source code with the eyes of a compiler." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>

    <link rel="stylesheet" href="cm/codemirror.css">
    <script src="cm/codemirror.js"></script>
    <script src="cm/matchbrackets.js"></script>
    <link rel="stylesheet" href="cm/show-hint.css">
    <script src="cm/active-line.js"></script>
    <script src="cm/show-hint.js"></script>
    <script src="cm/clike.js"></script>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@andreas__fertig" />
    <meta name="twitter:creator" content="@Andreas__Fertig" />
    <meta property="og:url" content="https://cppinsights.io/" />
    <meta property="og:title" content="C++ Insights" />
    <meta property="og:description" content="C++ Insights - See your source code with the eyes of a compiler." />
    <meta property="og:image" content="https://cppinsights.io/img/twcard.png" />

    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

    <link rel="stylesheet" href="css/gh.css" type="text/css">
    <link rel="stylesheet" href="css/s.css" type="text/css">
    </style>
  </head>
  <body>
    <div class="mainbody">
    <form action="/" method="post" id="form">
      <div id="container top">
        <div id="main">
          <div id="options header">
            <img class="logo" src="32.png" />
            <label class="btn btn-primary btn-lg icon-run"> <input type="submit" style="display: none;" role="button"  value="&nbsp;"/></label>
            <label class="btn btn-primary btn-lg icon-save"><input type="submit" style="display: none;" role="button" onclick="dl()" value="&nbsp;"/></label>

            <label class="btn btn-primary btn-lg icon-load" style="margin-bottom: 0;"><input style="display: none;" type="file" id="file-input" role="button"/></label>
            <label class="btn btn-primary btn-lg icon-link" style="margin-bottom: 0;"><input style="display: none;" onclick="getLink()" role="button"/></label>
            <label class="btn btn-primary btn-lg" style="margin-bottom: 0;"><a href="about.html">About</a></label>
            <!--<label class="btn btn-primary btn-lg icon-twitter" style="margin-bottom: 0;"><a id="twitter-share-button" target="_blank" onclick="tweet()" href="https://twitter.com/share?"></a></label>-->
            <div id="header">
              Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a></br>Powered by <a target="_blank" href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
            </div>
          </div>

          <div class="mid">
            <div class="code left">
              <div id="code2">
                <h2>Source:</h2>
                <textarea name="code" id="cpp-code" rows="20" cols="120">{{ code }}</textarea>
              </div>
            </div>
            <div class="html">
                <h2>Insight:</h2>
                <textarea name="code-out" id="cpp-code-out" rows="20" cols="120">{{ html }}</textarea>
            </div>
          </div>
          <div class="bottom">
            <div class="stderr">
                </br>
                <h2>Console:</h2>
                <div id="stderr-div"><textarea id="stderr-out" rows="5">{{ stderr }}</textarea></div>
            </div>
          </div>
          <div id="footer">
            Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a> &bull; Powered by <a target="_blank" href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
          </div>
        </div>
      </form>
    </div>


    <script src="js/main.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->

  <script>


function tweet()
{
    var element  = document.getElementById('twitter-share-button')
    var hostname = window.location.hostname;
    var url      = encodeURI( 'https://' + hostname + '/lnk?code=' + btoa(cppEditor.getValue()));
    var text     = 'C++ Insight';

    element.href = "https://twitter.com/intent/tweet?hashtags=CppInsight&text=" + encodeURIComponent(text) + '&url=' + url;
}

/*
var $tweet = $('.twitter-share-button');

$tweet.on ('click', function() {
    var url = encodeURI( 'https://localhost:5000/lnk?code=' + btoa(cppEditor.getValue()));
    var text = 'C++ Insight';

  $tweet.attr('href', "https://twitter.com/intent/tweet?hashtags=CppInsight&text=" + encodeURIComponent(text) + '&url=' + url);
});
  */
  </script>
  </body>
</html>
