<!doctype html>

<html lang="en">
<head>
  <title>C++ Insights</title>
  <meta name="description" content="C++ Insights - See your source code with the eyes of a compiler."/>
  <meta name="author" content="Andreas Fertig"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>

  <!-- codemirror includes -->
  <link rel="stylesheet" href="cm/codemirror.css">
  <script src="cm/codemirror.js"></script>
  <script src="cm/matchbrackets.js"></script>
  <link rel="stylesheet" href="cm/show-hint.css">
  <script src="cm/active-line.js"></script>
  <script src="cm/show-hint.js"></script>
  <script src="cm/clike.js"></script><!-- codemirror includes end -->

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@andreas__fertig"/>
  <meta name="twitter:creator" content="@Andreas__Fertig"/>
  <meta property="og:url" content="https://cppinsights.io/"/>
  <meta property="og:title" content="C++ Insights"/>
  <meta property="og:description" content="C++ Insights - See your source code with the eyes of a compiler."/>
  <meta property="og:image" content="https://cppinsights.io/img/twcard.png"/>

  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

  <link rel="stylesheet" href="css/gh.css" type="text/css">
  <link rel="stylesheet" href="css/s.css" type="text/css">
</head>
<body>
<div class="mainbody">
  <form action="/" method="post" id="form">
    <div id="container top">
      <div id="main">
        <div id="options header">
          <img class="logo" src="32.png"/>
          <button class="btn btn-primary btn-lg icon-run button-run" type="submit"></button>
          <button class="btn btn-primary btn-lg icon-save button-download" title="Download source"></button>
          <button class="btn btn-primary btn-lg icon-load button-upload" title="Upload source"></button>
          <input id="file-input" type="file">
          <span class="copy-group">
            <button class="btn btn-primary btn-lg icon-link button-create-link" title="Create URL to source"></button>
            <div id="copyDropdown" class="copyDownDownContent">
              <div class="input-group">
                <input id="lnkurl" value="" type="text">
                <span class="input-group-button">
                            <button class="cpybtn" type="button" onclick="CopyClick()">
                                <img class="clip" src="img/clb.svg" alt="Copy" width="13">
                            </button>
                  </span>
              </div>
            </div>
          </span>
          <a class="btn btn-primary btn-lg" href="https://github.com/andreasfertig/cppinsights/issues" target="_blank"
            title="Issues on GitHub">
            Issues
          </a>
          <a class="btn btn-primary btn-lg" href="about.html" title="About C++ Insights">
            About
          </a>
          <div id="header">
            Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a></br>Powered by <a
              target="_blank" href="http://flask.pocoo.org/">Flask</a> and <a target="_blank"
                                                                              href="https://codemirror.net">CodeMirror</a>
          </div>
        </div>

        <div class="mid">
          <div class="code left">
            <div id="code2">
              <h2>Source:</h2>
              <textarea name="code" id="cpp-code" rows="20" cols="120">{{ code }}</textarea>
            </div>
          </div>
          <div class="html">
            <h2>Insight:</h2>
            <textarea name="code-out" id="cpp-code-out" rows="20" cols="120">{{ html }}</textarea>
          </div>
        </div>
        <div class="bottom">
          <div class="stderr">
            </br>
            <h2>Console:</h2>
            <div id="stderr-div"><textarea id="stderr-out" rows="5">{{ stderr }}</textarea></div>
          </div>
        </div>
        <div id="footer">
          Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a> &bull;
          Powered by <a target="_blank" href="http://flask.pocoo.org/">Flask</a> and
          <a target="_blank" href="https://codemirror.net">CodeMirror</a>
        </div>
      </div>
    </div>
  </form>
</div>


<script src="js/main.js"></script>
</body>
</html>
