<!doctype html>

<html lang="en">

<head>
  <title>C++ Insights{{ desc }}</title>
  <meta name="description" content="C++ Insights{{ desc or ' - See your source code with the eyes of a compiler.' }}" />
  <meta name="author" content="Andreas Fertig" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!-- codemirror includes -->
  <link rel="stylesheet" href="/cm/codemirror.css">
  <script src="/cm/codemirror.js"></script>
  <script src="/cm/matchbrackets.js"></script>
  <link rel="stylesheet" href="cm/show-hint.css">
  <script src="/cm/active-line.js"></script>
  <script src="/cm/show-hint.js"></script>
  <script src="/cm/clike.js"></script><!-- codemirror includes end -->

  <meta name="supported-color-schemes" content="light dark">
  <meta name="color-schemes" content="light dark">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@andreas__fertig" />
  <meta name="twitter:creator" content="@Andreas__Fertig" />
  <meta property="og:url" content="https://cppinsights.io/" />
  <meta property="og:title" content="C++ Insights{{ desc }}" />
  <meta property="og:description" content="{{ twdesc or 'C++ Insights - See your source code with the eyes of a compiler.' }}" />
  <meta property="og:image" content="https://cppinsights.io/img/twcard.png" />

  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

  <link rel="stylesheet" href="/css/s.css" type="text/css">
</head>

<body>
  <main id="allmain">
    <nav id="nav">
      <controls>
        <img class="logo" src="/img/logo.svg" />
        <button class="btn btn-primary btn-lg icon-run button-run"></button>
        <button class="btn btn-primary btn-lg icon-save button-download" title="Download source"></button>
        <button class="btn btn-primary btn-lg icon-load button-upload" title="Upload source"></button>
        <input id="file-input" type="file">
        <span class="copy-group">
          <button class="btn btn-primary btn-lg icon-link button-create-link" title="Create URL to source"></button>
          <div id="copyDropdown" class="copyDownDownContent">
            <div class="dropdown-table">
              <div class="input-group input-group-url-row">
                <div>
                  <div class="cell-left"><input id="lnkurl" value="" type="text" readonly></div>
                  <div class="cell-right"><span class="input-group2-button">
                      <button class="cpybtn" type="button" onclick="CopyClick()">
                        <img class="clip" src="/img/clb.svg" alt="Copy" width="13">
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div>
                <div class="sldesc"><input id="lnkdesc" placeholder="Enter your description..." value="" type="text">
                </div>
              </div>
              <div>
                <button id="rqslbtn" class="reqslbtn" type="button">
                  Request Short Link
                </button>
              </div>
            </div>
          </div>
        </span>
        <a class="btn btn-primary btn-lg" id="button-ce" href="https://godbolt.org/" target="_blank" title="Open in Compiler Explorer">
          <img class="cebutton" src="/img/ce.svg" alt="Compiler Explorer">
        </a>
        <a class="btn btn-primary btn-lg" id="button-qb" href="http://quick-bench.com/" target="_blank" title="Open in Quick Bench">
          <img class="qbbutton" src="/img/qb.svg" alt="Quick C++ Benchmark">
        </a>


        <select id="insightsOptions" title="C++ Insights Options" multiple="multiple" data-toggle="select">
          {% for value in selectedInsightsOptions %}

          {% if value.label %}
          <optgroup label="{{ value.name }}">

            {% elif value.single %}
            <option value="{{ value.desc }}" class="single" {% if value.selected %} selected="selected" {% endif %}>
              {{ value.name }}</option>

            {% else %}
            <option value="{{ value.desc }}" {% if value.selected %} selected="selected" {% endif %}>{{ value.name }}
            </option>
            {% endif %}
            {% endfor %}
        </select>

        <select id="fontSizer" title="Font size" multiple="multiple" data-toggle="select">
          <option value="initial" class="fonts">Default</option>
          <option value="15px" class="fonts">15</option>
          <option value="18px" class="fonts">18</option>
          <option value="20px" class="fonts">20</option>
          <option value="22px" class="fonts">22</option>
          <option value="26px" class="fonts">26</option>
        </select>

        <span class="copy-group">
          <div class="btn-parent">
            <button class="btn btn-primary btn-lg button-more" title="More..."><span>More</span>
              <div></div>
            </button>
          </div>
          <div id="moreDropdown" class="moreDownDownContent">
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="https://github.com/andreasfertig/cppinsights" target="_blank" title="C++ Insights on GitHub">
                    GitHub
                  </a> </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="https://www.patreon.com/cppinsights" target="_blank" title="Become a patron">
                    Patreon
                  </a> </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="https://github.com/andreasfertig/cppinsights/issues" target="_blank" title="See existing issues on GitHub">
                    Issues
                  </a> </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="/about.html" title="About C++ Insights">
                    About
                  </a>
                </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="/privacy-policy.html" title="Policies">
                    Policies
                  </a>
                </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="/examples.html" title="Examples">
                    Examples
                  </a>
                </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="https://www.youtube.com/watch?v=NhIubRbFfuM&list=PLm0Dc2Lp2ycaFyR2OqPkusuSB8LmifY8D" title="C++ Insights @ YouTube">
                    C++ Insights @ YouTube
                  </a>
                </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="/settings.html" title="C++ Insights local settings">
                    Settings
                  </a>
                </button>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-button">
                <button class="morebtn" type="button">
                  <a href="/version" title="C++ Insights version information">
                    Version
                  </a>
                </button>
              </span>
            </div>
          </div>
        </span>
      </controls>

      <news>
        <div id="banner" class="{{ communityEventHide }}">
          <a href="{{ communitylink }}" target="_blank">{{ communitytitle }}</a><button onclick="toggleButton('banner')">×</button>
        </div>

      </news>

      <about>
        <div id="header">
          Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a><br />Powered by <a target="_blank"
              href="http://flask.pocoo.org/">Flask</a> and <a target="_blank" href="https://codemirror.net">CodeMirror</a>
        </div>
      </about>
    </nav>

    <srcin id="instd">
      <div id="stdin">
        <h2>Source:</h2>
        <textarea name="code" id="cpp-code" rows="20" cols="120">{{ code }}</textarea>
      </div>
    </srcin>

    <vdragbar id="vdragbar">
    </vdragbar>

    <insights id="outstd">
      <div id="stdout">
        <h2>Insight:</h2>
        <textarea name="code-out" id="cpp-code-out" rows="20" cols="120">{{ stdout }}</textarea>
      </div>
    </insights>

    <hdragbar id="hdragbar">
    </hdragbar>


    <console id="errstd">
      <div class="stderr" id="stderr">
        <h2>Console: <button onclick="toggleConsole()" id="console-btn"></button></h2>
        <div id="stderr-div"><textarea id="stderr-out" rows="5">{{ stderr }}</textarea></div>
      </div>
    </console>

    <div id="footer">
      Made by <a target="_blank" href="https://andreasfertig.info">Andreas Fertig</a> &bull;
      Powered by <a target="_blank" href="http://flask.pocoo.org/">Flask</a> and
      <a target="_blank" href="https://codemirror.net">CodeMirror</a>
    </div>

  </main>

  <script src="/ms/jquery-3.3.1.js"></script>
  <script src="/ms/multiple-select.js"></script>
  <script src="/js/cookie.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
