<!doctype html>
<html lang="en">

<head>
  <title>C++ Insights - Supporters</title>
  <meta name="description" content="C++ Insights - See your source code with the eyes of a compiler." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="icon" type="image/png" href="/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/16.png" sizes="16x16">

  <link rel="stylesheet" href="/css/s.css" type="text/css">
</head>

<body>
  <main id="single">
    <nav id="nav">
      <controls>
        <img class="logo" src="/img/logo.svg" />
        <a class="btn btn-primary btn-lg" href="/">Home</a>
        <a class="btn btn-primary btn-lg" href="/about.html">About</a>
        <a class="btn btn-primary btn-lg" href="/privacy-policy.html" title="Policies">
          Policies
        </a>
        <a class="btn btn-primary btn-lg" href="/examples.html">Examples</a>
        <a class="btn btn-primary btn-lg" href="/settings.html">Settings</a>
      </controls>

      <news>
      </news>

      <about>
        <div id="header">
          Made by<br /><a target="_blank" href="https://andreasfertig.com">Andreas Fertig</a>
        </div>
      </about>

    </nav>

    <content>
      <h1>C++ Insights Supporters</h1>

      <p>Below is a list of all the great people and companies who kindly sponsor C++ Insights. Thank you very much for
        making this open-source project possible!</p>

      <p>If you'd like to help as well, feel free to use one of the following options:</p>
      <ul>
        <li><a href="https://github.com/andreasfertig/cppinsights/blob/master/CONTRIBUTING.md" rel="nofollow"
              target="_blank">Contribute</a> by submitting a patch</li>
        <li><a href="https://patreon.com/join/cppinsights" title="Become a patron" rel="nofollow"
              target="_blank">Patreon</a></li>
        <li><a href="https://github.com/sponsors/andreasfertig" title="Become a GitHub Sponsor" rel="nofollow"
              target="_blank">GitHub Sponsor</a></li>
        <li>Email <a href="mailto:andy at cppinsights.io">me (andy at cppinsights.io)</a> for corporate sponsorship</li>
      </ul>


      <h2>Corporate Sponsors</h2>

      <p>You'd like to become a corporate sponsor? Then get in touch with Andreas.</p>
      <!--
      <div class="corporate">
        <logo><a href="https://www.getcracked.io/?traffic_source=cppinsights" rel="nofollow" target="_blank"><img
                src="/img/sponsor-getcracked.svg" alt="getcracked.io"></a></logo>
        <msg>getcracked.io is a next-generation skill-up and interview preparation platform designed for serious
          developers. With hundreds of practical coding problems, many sourced from elite tech and finance firms, we go
          beyond 2Sum and Koko’s Bananas to test what truly matters: your mastery of C++, Python, and Rust. getcracked
          also provides you with the ability to test yourself on topics that separate great engineers from good ones —
          computer architecture, networking, concurrency, design patterns, and more.

          Level up, compete head-to-head with others online, and prove your skills, all for free at getcracked.io.</msg>
      </div>
      -->
      <br \>

      <!--
      <h2>Patreons</h2>

      <ul class="patreons">
        {{ patreons|safe }}
      </ul>
      -->

      <h2>Community Sponsors</h2>

      <ul class="patreons">
        <li><a href="https://cppcon.org" rel="nofollow" target="_blank">CppCon</a></li>
      </ul>

    </content>

  </main>
</body>

</html>
